
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --color1:#78B3CE;
    --color2:#C9E6F0;
    --color3:#FBF8EF;
    --color4:#F96E2A;
}


body{
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bg1 {
    background-color: #78B3CE;
}

.bg2 {
    background-color: #C9E6F0;
}

.bg3 {
    background-color: #FBF8EF;
}

.bg4 {
    background-color: #F96E2A;
}

.text-hover{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}
.text-hover :hover{
    color: var(--color4);
    cursor: pointer;
}
.swal-button{
    background-color: var(--color1);
}
.custom-main{
    min-height:calc(100vh - 24px) ;
    margin-top: 100px;
    
}

/* style paginazione */

.pagination {
    justify-content: center;
    display: flex;
    padding-left: 0;
    list-style: none;
    
  }
  
  .page-item .page-link {
    position: relative;
    display: block;
    margin: 0 2px;
    min-height: 40px;
    min-width: 40px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    color: var(--color1);
    text-decoration: none;
    
  }
  
  .page-item a.page-link:hover {
    background-color: var(--color1);
    color: #ffffff;
    
  }
  
  .page-item.active .page-link {
    font-weight: 700;
    color: #ffffff;
    background-color: var(--color1);
    border: var(--color1);
    
  }
  
  .page-item.disabled .page-link {
    color: var(--color1);
    pointer-events: none;
    cursor: auto;
    background-color:white;
  }

  